

title {
font-size: 3rem;
}



a {
color:#BCC9D1;

}


p {
    color:#BCC9D1;
    }


p{
    font-family: 'Source Sans Pro', sans-serif; 
}

a {
    background-color: #2061db;
    color: #FFFFFF;
    text-decoration: none;
    padding: 6px;
    border: 5px outset #0B124D;
    border-radius: 5px;
    transition-duration: .3s;
    z-index:2 ;
    }
    
    a:hover {
    background-color: #32E1F9;
    border: 5px outset #3f4ae0;
    }

a{
    border-spacing:20px ;
    }
body{

background-image:url('./background.jpeg') ;
background-repeat: no-repeat;
background-position:top ;
z-index:1 ;
}
    
video{
width: 100%;
height: auto;
overflow: hidden;
position: absolute;
z-index:-1 ;
}

















