

title {
font-size: 3rem;
}



a {
color:white;

}


* {
   Background-color:#3D7CF2; 
}


p {
    font-family: 'Italianno', cursive;
}

p {
    color:white;
    }
 #player-of-the-week{
    font-family: 'Alegreya', serif;
}
#intro{
    font-family: 'Alegreya', serif;
}
#2019{
    font-family: 'Alegreya', serif;
}





