p {
color:grey;
}

h1 {
font-size: 3rem;
}

#destonations {

 color:blue;
}
a {
color:deeppink;

}

#TITANS-TIDBITS{
    color:red;
}
* {
   color:#647FFA 
}


p {
    font-family: 'Italianno', cursive;
}




